---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import ReactJS from "../icons/ReactJS.astro"
import Tailwind from "../icons/Tailwind.astro"
import Javascript from "../icons/Javascript.astro"

const TAGS = {
    HTML: {
        name: "HTML",
        icon: HTML,
        class: "bg-red-950",
    },
    CSS: {
        name: "CSS",
        icon: CSS,
        class: "bg-sky-950",
    },
    ReactJS: {
        name: "ReactJS",
        icon: ReactJS,
        class: "bg-sky-900",
    },
    Tailwind: {
        name: "Tailwind",
        icon: Tailwind,
        class: "bg-sky-950",
    },
    Javascript: {
        name: "Javascript",
        icon: Javascript,
        class: "bg-yellow-900",
    }
}

const PROJECTS = [
    {
        category: 'Website',
        title: 'Portfolio Version 1',
        description: 'Showcase of my skills across various technologies as ReactJS and TailwindCSS Throughout this endeavor, I implemented CSS animations and customized the configuration file of Tailwind CSS to tailor the project to specific requirements.',
        link: 'https://www.daveruncode.com/',
        image: './public/images/webv1.webp',
        tags: [TAGS.HTML, TAGS.CSS, TAGS.ReactJS, TAGS.Tailwind, TAGS.Javascript]
    }
]
---
<div class="flex flex-col gap-y-16">
    {
      PROJECTS.map(({ image, title, description, tags, link, category }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
    <div class="w-full md:w-1/2">
      <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
        <img alt={`Screenshot project of ${image}`} class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
      </div>
    </div>
  
    <div class="w-full md:w-1/2 md:max-w-lg">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
        {title}
      </h3>
      <div class="flex flex-wrap mt-2">
        <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>
  
        <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
        <footer class="flex items-end justify-start mt-4 gap-x-4">

          </footer>
      </div>
    </div>
  </article>
      ))
    }
  </div>